* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.center {
    height: 500px;
    width: 3px;
    background-color: plum;
   
}

.circle {
    background-color: white;
    width: 14px;
    height: 14px;
    border: 2px solid pink;
    border-radius: 50px;
    margin-top: 90px;
    margin-right: 15px;
}